@import "normalize"
@import "html5-boilerplate"


body
  padding-left: 1em
  padding-right: 1em

#container
  margin-left: auto
  margin-right: auto
  max-width: 500px
  min-width: 200px // enough space to fit the game


.pegs-game
  height: 128px
  width: 192px
  position: relative
  background: #bbb

.pegs-game noscript
  display: block
  padding: 1em

.pegs-game .screen
  display: none


.menu-button
  position: absolute
  z-index: 1
  /* positions are fractions of game-native pixel values –
   * 96 pixels wide and 64 pixels tall
  bottom: 3.125%

.play-button
  left: 41.6666667%

.help-button
  left: 61.45833333%

.exit-button
  left: 81.25%


.crop-area
  overflow: hidden
  position: absolute
  z-index: 1
  top: 0
  left: 0

.blank-background
  background: white
  position: absolute
  z-index: 0
  top: 0
  left: 0
  bottom: 0
  right: 0


.message
  position: absolute
  z-index: 1
  left: 0
  bottom: 0
